*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 54);
}
ul#menu{
    display: flex;
    padding: 10px;

}
li#nav-item{
    padding: 10px;
    background-color: rgb(52, 31, 168);
    margin: 10px;
    list-style-type: none;
}
li#nav-item a{
    text-decoration: none;
    color: cornsilk;
}
div#navbar{
    display:flex;
}
button#login{
    padding: 10px;
    background-color: #24BA67;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    margin-left: 500px;
}
button#cadastro{
    padding: 10px;
    background-color: #24BA67;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    margin-left: 50px;
}
button#pesquisa{
    height: 30px;
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    margin-top: 20px;
}

input#pesquisa{
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 30px;
    background-color:rgba(0, 132, 255, 0.644);
    border: none;
    margin-top: 20px;
    margin-left:50px;
    color:#fff;

}
::placeholder{
    color:#fff;
}