body{
    background-color: rgba(56, 56, 56, 0.726);
    font-family: Arial;
}
h1{
    color: #fff;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}
h3{
    font-style: italic;
    color:#fff;
    text-align: center;
}
section{
    border-radius: 10px;
    background-color:#fff;
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}
img{
 border-radius:50% ;
 width: 250px;
 height: 250px;
 margin-top: 20px;
 margin-bottom: 25px;
}
select{
    width: 150px;
}